<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="DEFRA AssuranceService" value="https://pkgs.dev.azure.com/defragovuk/_packaging/DEFRA-TRD%40Local/nuget/v3/index.json" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	</packageSources>
</configuration>